.row
  %ul.navigation
    %li
      %a{href: '#/album'} Album Trend
    %li.active
      %a{href: '#/artist'} Artist Trend
  %hr
  #artist_form
#note.row
  %small
    Note: Adding an artist can take some time if the artist is |
    particularly prolific.
.row
  .charts
