.section
  %input{type: 'text', name: 'album_id', |
          placeholder: 'Enter a Spotify Album URI'}
.section
  %input{id: 'show_pie', name: 'show_pie', type: 'checkbox'}
  %label{for: 'show_pie'} Show Pie Chart
.section
  %button#add_album Add
  %button#clear Clear
  %button#samples Samples
